body {
  background-color: lemonchiffon;
  font-family: "Helvetica Neue";
}

.container {
  background-color: white;
  width: 560px;
  height: 400px;
  margin: 60px auto;
  padding: 1px 20px;
}


h1 {
  font-weight: 100;
  font-size: 42px;
  text-align: center;
  margin-top: 40px;
}

.garage-cover {
  z-index: 4;
  background-color: blue;
  transition: 2s;
  height: 400px;
  width: 600px;
  position: absolute;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.open {
  height: 20px;
  background-color: lightblue;
}


.italics {
  color: gray;
  padding-bottom: 4px;
  margin-top: -10px;
  font-style: italic;
}

.break {
  border-bottom: 1px solid lightgray;
  padding-top: 15px;
}

.title {
  color: gray;
  font-size: 20px;
}

.img-container {
 text-align: center;
  padding-bottom: 12px;
}
